body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
}

ul,
ol {
    margin-top: 0;
    padding-left: 20px;
}

ul li,
ol li {
    margin-bottom: 10px;
}

pre {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  pre code {
    display: block;
    white-space: pre;
  }
  
  .keyword {
    color: #569cd6; /* Color para palabras clave */
  }
  
  .string {
    color: #ce9178; /* Color para strings */
  }
  
  .comment {
    color: #6a9955; /* Color para comentarios */
  }
  
  .punctuation {
    color: #d4d4d4; /* Color para puntuación */
  }
  

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}